@font-face {
    font-family: 'GeneralSans-Regular';
    src: url('../fonts/GeneralSans-Regular.woff2') format('woff2'),
         url('../fonts/GeneralSans-Regular.woff') format('woff'),
         url('../fonts/GeneralSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeneralSans-Medium';
    src: url('../fonts/GeneralSans-Medium.woff2') format('woff2'),
         url('../fonts/GeneralSans-Medium.woff') format('woff'),
         url('../fonts/GeneralSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeneralSans-Bold';
    src: url('../fonts/GeneralSans-Bold.woff2') format('woff2'),
         url('../fonts/GeneralSans-Bold.woff') format('woff'),
         url('../fonts/GeneralSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

/* ---------------------------- */

@font-face {
     src: url('fonts/FormaDJRText-Bold-Testing.woff2') format("woff2"),
          url('fonts/FormaDJRText-Bold-Testing.woff') format("woff");
     font-family: 'FormaDJRText-bold';
     font-weight: 700;
     font-style: normal;
     font-weight: bold;
}

@font-face {
     src: url('fonts/FormaDJRDisplay-Bold-Testing.woff2') format("woff2"),
          url('fonts/FormaDJRDisplay-Bold-Testing.woff') format("woff");
     font-family: 'FormaDJRDisplay-bold';
     font-weight: 700;
     font-style: normal;
     font-weight: bold;
   }